* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --regular: "Ubuntu", sans-serif;
    --modern: "Josefin Sans", sans-serif;
    --prime: #13b8a6;
    --second: #363434;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    background-color: #363434;
  }


  /* <!-- ! ==========Nav Bar Start Here============== --> */

.nav-conter {
  width: 100%;
  height: 12vh;
  border-bottom: 1px  #13b8a6;
  border-bottom-style:ridge;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
 /* position: absolute; */

  top: 0;
  z-index: 9999;
  bottom: 100%;
  
}


.logo {
  width: 25%;
  height: 12vh;
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo a {
  text-decoration: none;
}
.logo h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  color: #13b8a6;
  font-size: 21px;
  width: 160px;
  height: 45px;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.7),
  -1px -1px 1px rgb(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out;
  
  
}


.logo h1:hover
{
  transform: scale(1.1,1.1);
}
.logo h1 span {
  color: whitesmoke;
  font-size: 28px;
}

nav {
  width: 60%;
  height: 12vh;
  /* border: 2px solid yellow; */
  font-family: var(--regular);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-size: 16px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 55px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

nav ul li a:hover {
  color: #13b8a6;
  font-size: 17px;
  transition: all;
  transition-duration: 0.2s;
  transform-style: inherit;
  transform-origin: center;
  transition-timing-function: ease-in-out;
}

#icon {
  color: white;
  font-size: 18px;
  display: none;
}

nav ul li button
{
  
  height: 32px;
  border-top-left-radius:15px ;
  border-bottom-right-radius:15px ;
  width: 110px;
  background-color: #13b8a6;
  color: whitesmoke;
  font-family: var(--regular);
border: 2px solid whitesmoke;
font-size: 16px;
}

nav ul li button:hover
{
  transform: scale(1.1,1.1);
  background-color: transparent;
  box-shadow: 6px 6px 10px rgb(0, 0, 0, 0.7),
    -6px -6px 10px rgb(255, 255, 255, 0.75);

}

/* <!-- ! ==========Nav Bar Start Here============== --> */

  
  .card-contener {
    width: 100%;
    height: 120vh;
    /* border: 2px solid yellow; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  
  .card-contener .card-item {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    /* border: 2px solid yellowgreen; */
    padding: 15px;
    gap: 75px;
    flex-wrap: wrap;
    overflow: hidden;
  }
  
  .card {
    width: 200px;
    height: 300px;
    border: 2px solid whitesmoke;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: var(--regular);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 6px 6px 10px rgb(0, 0, 0, 0.7),
      -2px -2px 5px rgb(255, 255, 255, 0.75);
      overflow: hidden;
      gap: 15px;
  }
  
  
  .card:hover img
  {
    transform: scale(1.1,1.1) ;
  }
  
  .card img {
    width: 198px;
    height: 180px;
    border-top-left-radius: 15px;
  }
  
  .card .info {
    padding: 7px 2px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card .info .conted h2 {
    color: whitesmoke;
    font-size: 16px;
    text-align: left;
  }
  
  .card .info .conted p {
    margin-top: 10px;
    color: whitesmoke;
    font-size: 12px;
    text-align: left;
  }
  
  .card .info .icon button {
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  .card .info .icon button i {
    font-size: 28px;
    color: #13b8a6;
  }

  /* =========================================== */

  .Cpation {
    width: 100%;
    height: 37vh;
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .titale {
    width: 95%;
    height: 35vh;
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
    
    
   
  }
  
  .titale h2 img
  {
    
    height: 75px;
    
  }

   /* footer */

   footer {
    padding: 40px;
    background-color: #363434;
    color: #ffffff;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.7),
    -5px -5px 5px rgb(255, 255, 255, 0.75);
    margin-top: 45px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-sections {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #2b2e3a;
  }
  
  .section {
    width: 20%;
  }
  
  .section h3 {
    font-size: 21px;
    color: #13b8a6;
    margin-bottom: 20px;
  }
  
  .section ul {
    list-style: none;
  }
  
  .section ul li {
    margin-bottom: 10px;
  }
  
  .section ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .section ul li a:hover {
    text-decoration: underline;
  }
  
  .newsletter h3 {
    font-size: 21px;
    margin-bottom: 20px;
    color: #13b8a6;
  }
  
  .newsletter form {
    display: flex;
    flex-direction: column;
  }
  
  .newsletter input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #2b2e3a;
    background-color: #282a36;
    color: #ffffff;
  }
  
  .newsletter div {
    margin-bottom: 10px;
  }
  
  .newsletter input[type="checkbox"] {
    margin-right: 10px;
  }
  .newsletter label
  {
    color: #13b8a6;
  }
  .newsletter label a
  {
    color: whitesmoke;
  }
  .newsletter button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #13b8a6;
    color: #ffffff;
    cursor: pointer;
  }
  
  .newsletter button:hover {
    background-color: whitesmoke;
    color: #000;
  }
  
  .social-media {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
  }
  
  .social-media a {
    margin-right: 35px;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
  }
  
  .social-media a i{
    width: 75px;
    height: 24px;
  }
  
  .copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #7f818c;
  }
  .copyright a
  {
    color: whitesmoke;
  }
  
  /* & Footer */
  
  @media (max-width: 992px) {
    .footer-sections {
        flex-direction: column;
        align-items: center;
    }
  
    .section {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
  
    .newsletter {
        width: 100%;
        text-align: center;
    }
  
    .social-media {
        justify-content: center;
    }
  }
  
  @media (max-width: 600px) {
    .newsletter input[type="email"] {
        width: 90%;
        margin: 0 auto 10px;
    }
  
    .newsletter button {
        width: 90%;
        margin: 0 auto;
    }
  
    .newsletter div {
        text-align: center;
    }
  }
  
   /* footer */